body {
    background-color: #ffefcb;
    margin: 0;
    padding: 0;
    display: block;
}


.sideSectionCnt {
    display: flex;
    padding: 5px 0 30px 0;
}

.sideSection {
    border-left: 3px solid #65350f;
    padding: 0 0 0 5px;
}

.sideSectionHeader{
    margin: 5px;
    min-width: 180px;
    text-align: right;
}

.flexDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.firstPic{
    width: 600px;
    height: 200px;
    background-image: url(./images/longCoffee.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    border: solid 2px #65350f;
    padding-top: 20px;
}

.firstPic h3{
    background-color: #9a7b4f;
    border-bottom: solid #65350f;
    border-top: solid #65350f;
}

.secondPic {
    width: 600px;
    height: 200px;
    background-image: url(./images/longCoffee.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    border: solid 2px #65350f;
    padding-top: 20px;
}

.secondPic h3{
    background-color: #9a7b4f;
    border-bottom: solid #65350f;
    border-top: solid #65350f; 
}

header {
    float: top;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tan;
}

nav li {
    float: left;
    border-left: 1px solid black;
    font-size: larger;
}

nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #9a7b4f;
}

section {
    text-align: center;
    overflow-wrap: break-word;
}

section li {
    list-style-type: none;
}