body {
    background-color: lightblue;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    font-size: larger;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 188.75px;
    padding-right: 188.75px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

nav li a:hover {
    background-color: dimgray;
    text-align: center;
}