body {
    background-color: #ffefcb;
    margin: 0;
    padding: 0;
    display: block;
}


.abtcnt {
    display: flex;
    padding: 5px 0 0 0;
}

.abt {
    border-left: 3px solid #65350f;
    padding: 0 0 0 5px;

    /* border-left: 4px solid #65350f;
    height: fit-content;
    position: relative;
    left: 220px;
    text-align: left;
    font-size: large;
    margin: 5px;
    padding: 0 200px 0 5px; */
}

.abth{
    margin: 5px;
    padding: 0 125px 0 120px;
}


header {
    float: top;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: tan;
}

nav li {
    float: left;
    border-left: 1px solid black;
    font-size: larger;
}

nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #9a7b4f;
}

section {
    text-align: center;
    overflow-wrap: break-word;
}

section li {
    list-style-type: none;
}